<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Finaddictz.com, <%= @user %></h1>
    <p>
      You have successfully signed up to Finaddictz.com,
      your login is: <%= @user.email %>.<br/>
    </p>
    <p>
      To activate your account, please follow this link: <%= @url %> then login with your email and password.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>