<% @conversations.each do |conversation| %>
    <div class="conversation">
    	<%= image_tag from_who(conversation).photo.url(:medium), :class => "img-polaroid" %>
    	<div>
    		<%= from_who(conversation) %>
    	</div>
    	
    	<div>
    		<%= link_to conversation.title, conversation %>
    	</div>
    </div>
<% end %>