<form action="/forgot_password/send_new_password" method="POST" class="form-horizontal">
	<legend>Forgotten Password</legend>
	<div class="control-group">
		<label class="control-label">What is your email?</label>
		<div class="controls">
			<input type="text" name="email"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Send my password" class="btn"/>
		</div>
	</div>

</form>