<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li><%= link_to "Profile", @current_user %></li>
  <li class="divider-vertical"></li>
  <%= render 'layouts/navbars/profile-dropdown' %>
</ul>
