<ul class="nav pull-right">
  <li>
  	<a href="<%=new_guide_post_path %>" rel="tooltip" data-placement="bottom" data-original-title="Post a guided trip for anglers to find and contact you through">
  		Post a Trip
  	</a>
  </li>
  <li class="divider-vertical"></li>

  <%= render 'layouts/navbars/posts-dropdown' %>

  <li class="divider-vertical"></li>
  <li>
  	<a href="/users/<%=@current_user.id%>" rel="tooltip" data-placement="bottom" data-original-title="View and manage your trips">
  		Profile
  	</a>
  </li>
  <li class="divider-vertical"></li>

  <%= render 'layouts/navbars/profile-dropdown' %>
</ul>