// Place all the styles related to the angler_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.post_row {
  background-color: #f5f5f5;
  color: #333;
  border-color: #d3d3d3;
  border:solid #d3d3d3 1px;
  border-bottom: none;
  padding:10px;
}


.post_title {
  color: blue;
  font-size: 18px;
}

.messages {
  background-color: #f5f5f5;
  color: #8b0000;
  font-size: 16px;
}

.welcome {
  background-color: #f5f5f5;
  color: #8b0000;
  font-size: 22px;
}

.post_price {
  background-color: #f5f5f5;
  color: green;
  font-size: 18px;

}

.post_created {
  float: right;
  color: #696969;
  font-size: 10px;
}

.post_tripDate {
  color: #696969;
  font-size: 12px;
}