/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require bootstrap_and_overrides
*/


.clear{
	clear: both;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* for the google maps api and twitter bootstrap combo */
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

.profile_info_wrapper{
  margin: 10px;
  min-height:100px;
}

.horizontal-form-layout .form-element-wrapper{
  float:left;
  padding: 10px;
}

.min-height{
  min-height: 500px;
}