<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Abuse Report</h1>
    <p>
      A posting has been identified as abusive<br/>
    </p>
  </body>
</html>